# Numpy Practice

1) Create a one-dimensional array of numbers from 0 to 9 and name it arr.

2) Create a 3x3 numpy array of all Trues

3) Extract all odd numbers from arr

4) Replace all odd numbers in arr with -1

5) Convert a 1D array to a 2D array with 2 rows

``` python 
a = np.array([1,2,3,2,3,4,3,4,5,6])

b = np.array([3,5,7,1,4,8,3,9,4,1]) ```
   
6) Get the common items between a and b

``` python 
arr = np.arange(9).reshape(3,3)```

7) Swap rows 1 and 2 in the array arr

8) Reverse the rows of the above array arr.

9) Create a 2D array of shape 5x3 to contain random decimal numbers between 10 and 15.

10) Create a numpy array of length 10, starting from 3 and has a step of 3 between consecutive numbers

``` python 
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])`

b_1d = np.array([1,2,3])```
 
11) Subtract the 1d array b_1d from the 2d array a_2d, such that each item of b_1d subtracts from respective row of a_2d

``` python 
np.array([1,2,3,np.nan,5,6,7,np.nan])```

12)  Drop all nan values from a 1D numpy array

# Pandas Practice

1) Create a pandas series from each of the items below: a list, numpy and a dictionary

``` python 
import numpy as np

mylist = list('woohoodatascience')

myarr = np.arange(25)

mydict = dict(zip(mylist, myarr))```

2) Combine ser1 and ser2 to form a dataframe.

``` python 
import numpy as np

ser1 = pd.Series(list('yaydatascience'))

ser2 = pd.Series(np.arange(25))```

3) Give a name to the series ser calling it ‘alphabets’.
``` python 
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))```

4) Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
``` python 
ser = pd.Series(np.random.normal(10, 5, 25))```

5) Find the positions of numbers that are multiples of 3 from ser.
``` python 
ser = pd.Series(np.random.randint(1, 10, 7))```

6) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
``` python 
ser1 = pd.Series(range(16))

ser2 = pd.Series(list('datascience'))```

7) Compute the mean squared error of truth and pred series.
``` python 
truth = pd.Series(range(10))

pred = pd.Series(range(10)) + np.random.random(10)```

8) Import every 50th row of BostonHousing dataset as a dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

9) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

10) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv